MONGODB_URI=mongodb+srv://bravodavid7895_db_user:T58AAo5IEa4hFgfF@cluster0.oz4yak7.mongodb.net/WareHouse
JWT_SECRET=replace-this-with-a-long-random-secret
PORT=4000
FRONTEND_URL=https://warehouse-frontend-seven.vercel.app
CLOUDINARY_CLOUD_NAME=dixxd3uf9
CLOUDINARY_API_KEY=459585981834624
CLOUDINARY_API_SECRET=nlxl6UxxaQnVB6i18SB5rPZNQzk
